<% include ../layouts/header %>

<h1 class='mt-4'>Users</h1>

<ul class='list-group'>
  <% users.forEach(function(user) { %>
    <li class='list-group-item'><%= user.username %> - <%= user.email %></li>
  <% }); %>
</ul>

<% include ../layouts/footer %>